<section class="about">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-md-6 col-lg-7">
				<div class="row">
					<div class="col-lg-8">
						<h2>{{ post.about_title }}</h2>
						<p class="lead">{{ post.about_name }}</p>
					</div><!-- end col -->
					<div class="col-lg-4">
						<a href="{{ post.about_link }}" class="badge social github" target="_blank"><i class="fa {{ about.link_github_icon }}"></i></a>
						<a href="{{ post.about_link }}" class="badge social codepen" target="_blank"><i class="fa {{ about.link_codepen_icon }}"></i></a>
						<a href="{{ post.about_link }}" class="badge social instagram" target="_blank"><i class="fa {{ about.link_instagram_icon }}"></i></a>
						<a href="{{ post.about_link }}" class="badge social twitter" target="_blank"><i class="fa {{ about.link_twitter_icon }}"></i></a>
					</div><!-- end col -->
				</div><!-- row -->

				<p class="lead">{{ post.about_lead_para }}</p>

				<p>{{ post.about_para }}</p>
				<hr>
			</div><!-- end col -->
		</div><!-- row -->
	</div><!-- container -->
</section>
