<section class="about">
	<div class="container clearfix">
			<div class="about__container g-wrap g-text-center">
				<h2>{{ post.about_title }}</h2>
				<p class="lead">{{ post.about_name }}</p>
			</div><!-- end col -->
			<div class="col-lg-4">
				<a href="{{ post.about_link }}" class="badge social github" target="_blank"><i class="fa {{ about.link_github_icon }}"></i></a>
				<a href="{{ post.about_link }}" class="badge social codepen" target="_blank"><i class="fa {{ about.link_codepen_icon }}"></i></a>
				<a href="{{ post.about_link }}" class="badge social instagram" target="_blank"><i class="fa {{ about.link_instagram_icon }}"></i></a>
				<a href="{{ post.about_link }}" class="badge social twitter" target="_blank"><i class="fa {{ about.link_twitter_icon }}"></i></a>
			</div><!-- end col -->
		</div><!-- row -->

		<p class="lead">{{ post.about_lead_para }}</p>

		<p>{{ post.about_para }}</p>
		<hr>
	</div>
</section>
