<!-- / .wrapper -->
<footer class="footer">
  <div class="container">

    <div class="footer__2-col g-wrap">
      <div class="footer__menu g-col gt-col-1-2 gd-col-1-3">
        {% if options.footer_column_1_title %}</h3>
          <h3>{{ options.footer_column_1_title }}</h3>
        {% endif %}

        <div class="footer__menu__helpful-links ">
          {% if footer_nav %}
            <ul>
              {% for item in footer_nav.get_items %}
                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>

      <div class="footer__social g-col gt-col-1-2 gd-col-1-3">
        {% if options.footer_column_2_title %}</h3>
          <h3>{{ options.footer_column_2_title }}</h3>
        {% endif %}

        <div class="footer__social__connect">
          {% if options.footer_contact_us %}
            <a href="{{ options.footer_contact_us_link }}">
              <span class="footer__social__connect__icon"><i class="fa fa-envelope-square"></i></span>
              {{ options.footer_contact_us }}
            </a>
          {% endif %}
          {% if options.footer_join_us %}
            <a href="{{ options.footer_join_us_link }}">
              <span class="footer__social__connect__icon"><i class="fa fa-twitter-square"></i></span>
              {{ options.footer_join_us }}
            </a>
          {% endif %}
        </div>
      </div>

    </div>

    <div class="footer__copyright">
      {{ options.footer_copyright }}
    </div>
  </div>
</footer>
