<section class="projects">
	<div class="container clearfix">

		<div class="projects__head g-text-center">
			<h2>{{ post.projects_title }}</h2>
			<p class="lead">{{ post.lead_paragraph }}</p>
		</div>

		<div class="projects__container g-wrap g-text-center">

			{% if post.get_field('project_grid')  %}
		 		{% for project in post.get_field('project_grid') %}

					<div class="projects__item g-col gt-col-1-2 gd-col-1-3">
						<div>
							<a href="{{ project.project_link }}" target="_blank">
								<img src="{{ project.project_image }}" alt="" class="image">
							</a>
						</div>
						<h3>{{ project.item_title }}<br><small>{{ project.sub_title }}</small></h3>
						{{ project.project_skills }}
						{% if project.link_1_icon %}
							<p><i class="fa {{ project.link_1_icon }}" aria-hidden="true"></i><a href="{{ project.link_1_url }}" target="_blank">{{ project.link_1_title }}</a></p>
						{% endif %}
						{% if project.link_2_icon %}
							<p><i class="fa {{ project.link_2_icon }}" aria-hidden="true"></i><a href="{{ project.link_2_url }}" target="_blank">{{ project.link_2_title }}</a></p>
						{% endif %}
					</div>

				{% endfor %}
			{% endif %}

		</div><!-- container -->
	</div>
</section>
