<section class="projects">
	<div class="container clearfix">

		<div class="projects__head">
			<h2>{{ post.projects_title }}</h2>
			<p class="lead">{{ post.projects_lead }}</p>
		</div>

		<div class="projects__container g-wrap g-text-center">

			<!-- TOP ROW -->
			<div class="projects__item g-col gt-col-1-2 gd-col-1-3">
				<div>
					<a href="https://github.com/lizagne/film-guide-app" target="_blank">
						<img src="{{ theme.path }}/assets/img/projects/film-react-native-app.jpg" alt="React Native App" class="image"></a>
				</div>
				<h3>//React Native<br><small>Christmas Films &amp; BBC news</small></h3>
				<p>Skills: Expo Client, Xcode Simulator, React Native elements, external APIs, linking internally and externally, stylesheets, Redux.</p>
				<p><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/lizagne/film-guide-app" target="_blank"> Christmas Film Finder App on GitHub</a></p>
				<p><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/lizagne/react-native-news-app" target="_blank"> BBC News App on GitHub</a></p>
			</div><!-- col -->

			<div class="projects__item g-col gt-col-1-2 gd-col-1-3">
				<div class="">
						<a href="http://lizagne.uk/ftbll-tm-rndmsr/" target="_blank">
							<img src="{{ theme.path }}/assets/img/projects/ftbll-tm-rndmsr.png" alt="React and Redux project" class="image">
					</a>
				</div>
				<h3>//React &amp; Redux <br> <small>Ftbll Tm Rndmsr</small></h3>
				<p>Skills: JS, React and Redux, lodash, refactoring, HTML, SASS, gulp, CSS animations, form validation.</p>
				<p><i class="fa fa-external-link" aria-hidden="true"></i><a href="http://lizagne.uk/ftbll-tm-rndmsr/" target="_blank">Ftbll Tm Rndmzr online</a></p>
				<p><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/lizagne/football-team-picker-project" target="_blank">View on Github</a></p>
			</div><!-- col -->

			<div class="projects__item g-col gt-col-1-2 gd-col-1-3">
				<a href="http://lizagne.uk/jsa" target="_blank">
					<img src="{{ theme.path }}/assets/img/projects/jsa-wip.jpg" alt="JSA Wordpress Project" class="image">
				</a>
				<h3>//Wordpress<br><small> JSA &amp; Coole Surgery</small></h3>
				<p>JSA skills: Client interaction, Photoshop, Wireframing, PHP, FTP, Filezilla, MasonryJS, HTML, SASS, gulp, JQUERY, JS, responsive design.</p>
				<!-- <p>Coole skills: Client management, security and SEO management, Wordpress training, CPanel, PHPMyAdmin.</p> -->
				<p><i class="fa fa-external-link" aria-hidden="true"></i><a href="http://lizagne.uk/jsa" target="_blank">JSA (WIP) online</a></p>
				<p><i class="fa fa-external-link" aria-hidden="true"></i><a href="http://coolesurgery.ie/" target="_blank">Coole Surgery online</a></p>
		</div>
<!-- TOP ROW -->


<!-- BOTTOM ROW -->
			<div class="projects__item g-col gt-col-1-2 gd-col-1-3">
				<div class="">
					<a href="https://github.com/lizagne/react-redux-cryptotracker" target="_blank">
						<img src="{{ theme.path }}/assets/img/projects/crypto-currency.png" alt="Cryptocurrency Tracker App" class="image">
					</a>
				</div>
				<h3>//React Native<br><small>Cryptocurrency Tracker App</small></h3>
				<p>Skills: External API's, Redux and React, React Native Stylesheets, Expo Client, JS logic.</p>
				<p><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/lizagne/react-redux-cryptotracker" target="_blank"> Cryptocurrency Tracker App on GitHub</a></p>
				<!-- <p><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/lizagne/react-redux-cryptotracker" target="_blank"> Cryptocurrency Tracker App on GitHub</a></p> -->
			</div>

			<div class="projects__item g-col gt-col-1-2 gd-col-1-3">
				<div class="">
					<a href="https://github.com/lizagne/video-player" target="_blank">
					<img src="{{ theme.path }}/assets/img/projects/yourTube.png" alt="YourTube App" class="image"></a>
				</div>
				<h3>//React and Redux<br><small> YourTube &amp; Reduxtagram</small></h3>
				<p>React Skills: External API's, React, Lodash (debounce), Bootstrap.</p>
				<p>Redux Skills: JSON files, Routes.</p>
				<p><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/lizagne/video-player" target="_blank">YourTube on GitHub</a></p>
				<p><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/lizagne/reduxtagram" target="_blank">Reduxtagram on GitHub</a></p>
			</div><!-- col -->

			<div class="projects__item g-col gt-col-1-2 gd-col-1-3">
				<div class="">
					<a href="https://build-yfgwqquydy.now.sh/" target="_blank">
					<img src="{{ theme.path }}/assets/img/projects/rsvp-app.png" alt="RSVP App" class="image"></a>
				</div>
				<h3>//React &amp; Redux<br> <small>RSVP App</small></h3>
				<p>Skills practiced: PropTypes</p>
				<p><i class="fa fa-external-link" aria-hidden="true"></i><a href="https://build-yfgwqquydy.now.sh/" target="_blank">RSVP online</a></p>
				<p><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/lizagne/RSVP-app" target="_blank">RSVP on GitHub</a></p>
			</div>

<!-- BOTTOM ROW -->

		</div><!-- container -->
	</div>
</section>
